body{
    background: #eeaeca;
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}
h1{
    color: #2600ff;
    text-align: center;            
}
.huge-text{
    font-size: 20px;
}
.green-text{
    color: #008000;
}
.red-text{
    color: #ff0000;

}
.orangered-text{
    color: #ff4500;

}
